In [1]:
import pandas as pd
import numpy as np
import collections
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
resources = pd.read_csv('resources.csv')

In [3]:
resources.head()

,id,description,quantity,price
0,p233245,LC652 - Lakeshore Double-Space Mobile Drying Rack,1,149.00
1,p069063,Bouncy Bands for Desks (Blue support pipes),3,14.95
2,p069063,Cory Stories: A Kid's Book About Living With Adhd,1,8.45
3,p069063,"Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...",2,13.59
4,p069063,EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...,3,24.95

In [4]:
resources['total_price'] = resources['quantity'] * resources['price']

In [5]:
resources.head()

,id,description,quantity,price,total_price
0,p233245,LC652 - Lakeshore Double-Space Mobile Drying Rack,1,149.00,149.00
1,p069063,Bouncy Bands for Desks (Blue support pipes),3,14.95,44.85
2,p069063,Cory Stories: A Kid's Book About Living With Adhd,1,8.45,8.45
3,p069063,"Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...",2,13.59,27.18
4,p069063,EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...,3,24.95,74.85

In [18]:
len(resources['description'].unique())

332929

In [23]:
total_resources = pd.DataFrame(resources.groupby('id')['quantity','total_price'].sum())

In [24]:
total_resources['id'] = total_resources.index

In [25]:
total_resources = total_resources.reset_index(drop=True)

In [26]:
total_resources.head()

   quantity  total_price       id
0         7       833.63  p000001
1        21       630.28  p000002
2         4       298.97  p000003
3        98      1126.22  p000004
4         8       702.31  p000005

In [27]:
total_resources[['id','quantity','total_price']].to_csv('cleaned_resources.csv')