In [1]:
import pandas as pd
import numpy as np
import collections
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
resources = pd.read_csv('resources.csv')

In [3]:
resources.head()

,id,description,quantity,price
0,p233245,LC652 - Lakeshore Double-Space Mobile Drying Rack,1,149.00
1,p069063,Bouncy Bands for Desks (Blue support pipes),3,14.95
2,p069063,Cory Stories: A Kid's Book About Living With Adhd,1,8.45
3,p069063,"Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...",2,13.59
4,p069063,EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...,3,24.95

In [4]:
resources['total_price'] = resources['quantity'] * resources['price']

In [5]:
resources.head()

,id,description,quantity,price,total_price
0,p233245,LC652 - Lakeshore Double-Space Mobile Drying Rack,1,149.00,149.00
1,p069063,Bouncy Bands for Desks (Blue support pipes),3,14.95,44.85
2,p069063,Cory Stories: A Kid's Book About Living With Adhd,1,8.45,8.45
3,p069063,"Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...",2,13.59,27.18
4,p069063,EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...,3,24.95,74.85

In [6]:
len(resources['description'].unique())

332929

In [7]:
total_resources = pd.DataFrame(resources.groupby('id')['quantity','total_price'].sum())

In [8]:
total_resources.head()

         quantity  total_price
id
p000001         7       833.63
p000002        21       630.28
p000003         4       298.97
p000004        98      1126.22
p000005         8       702.31

In [9]:
max_resources = pd.DataFrame(resources.groupby('id')['quantity','total_price'].max())

In [10]:
max_resources.columns = ['max_quantity','max_price']
max_resources.head()

         max_quantity  max_price
id
p000001             2     522.16
p000002             4     134.90
p000003             1     169.00
p000004             2     401.54
p000005             3     323.75

In [11]:
min_resources = pd.DataFrame(resources.groupby('id')['quantity','total_price'].min())
min_resources.columns = ['min_quantity','min_price']
min_resources.head()

         min_quantity  min_price
id
p000001             1      47.98
p000002             1       9.95
p000003             1      39.99
p000004             1       3.20
p000005             1      54.08

In [12]:
total_resources['mean_price'] = total_resources['total_price'] / total_resources['quantity']

In [13]:
resources_more = total_resources.merge(min_resources, left_index=True, right_index=True, how='left')
resources_more = resources_more.merge(max_resources, left_index=True, right_index=True, how='left')

In [14]:
resources_more['id'] = resources_more.index
resources_more = resources_more.reset_index(drop=True)

In [15]:
resources_more.head()

,quantity,total_price,mean_price,min_quantity,min_price,max_quantity,max_price,id
0,7,833.63,119.090000,1,47.98,2,522.16,p000001
1,21,630.28,30.013333,1,9.95,4,134.90,p000002
2,4,298.97,74.742500,1,39.99,1,169.00,p000003
3,98,1126.22,11.492041,1,3.20,2,401.54,p000004
4,8,702.31,87.788750,1,54.08,3,323.75,p000005

In [16]:
resources_more[['id','quantity','total_price','min_quantity','max_quantity','min_price','max_price']].to_csv('cleaned_resources.csv', index=False)

In [17]:
resources_more[['id','quantity','total_price','min_quantity','max_quantity','min_price','max_price']]

,id,quantity,total_price,min_quantity,max_quantity,min_price,max_price
0,p000001,7,833.63,1,2,47.98,522.16
1,p000002,21,630.28,1,4,9.95,134.90
2,p000003,4,298.97,1,1,39.99,169.00
3,p000004,98,1126.22,1,2,3.20,401.54
4,p000005,8,702.31,1,3,54.08,323.75
5,p000006,5,130.62,1,1,2.59,46.99
6,p000007,6,947.88,6,6,947.88,947.88
7,p000008,80,296.99,1,1,2.59,89.38
8,p000009,45,335.40,1,2,2.45,53.81
9,p000010,30,332.40,30,30,332.40,332.40
10,p000011,20,251.80,20,20,251.80,251.80
11,p000012,2,135.98,1,1,67.99,67.99
12,p000013,4,2626.63,1,1,127.46,1695.75
13,p000014,1,300.78,1,1,300.78,300.78
14,p000015,1,399.99,1,1,399.99,399.99
15,p000016,60,187.20,30,30,29.70,157.50
16,p000017,16,367.84,16,16,367.84,367.84
17,p000018,2,474.05,1,1,69.99,404.06
18,p000019,12,934.26,3,6,254.85,379.47
19,p000020,5,741.95,5,5,741.95,741.95
20,p000021,7,101.17,1,2,6.89,31.99
21,p000022,1,116.00,1,1,116.00,116.00
22,p000023,3,539.97,3,3,539.97,539.97
23,p000024,5,471.90,5,5,471.90,471.90
24,p000025,20,362.25,1,12,9.99,299.94
25,p000026,29,461.97,1,2,2.64,50.38
26,p000027,15,823.98,1,4,22.14,147.67
27,p000028,4,637.74,2,2,51.78,585.96
28,p000029,4,865.95,1,1,16.99,395.00
29,p000030,16,424.81,3,8,119.92,179.94
...,...,...,...,...,...,...,...
260085,p260086,10,871.95,5,5,130.00,741.95
260086,p260087,5,379.94,1,2,49.99,149.98
260087,p260088,7,107.16,1,1,9.99,22.95
260088,p260089,29,157.65,1,8,4.95,41.52
260089,p260090,34,214.08,1,20,14.44,49.99
260090,p260091,6,1259.55,3,3,59.58,1199.97
260091,p260092,15,214.75,5,5,39.95,114.85
260092,p260093,6,955.74,3,3,145.77,809.97
260093,p260094,201,487.63,1,60,0.00,84.30
260094,p260095,11,485.32,1,1,11.69,199.00
260095,p260096,6,367.96,1,1,9.99,149.00
260096,p260097,6,599.94,2,2,39.98,319.98
260097,p260098,12,2743.58,1,5,297.45,1436.49
260098,p260099,4,243.42,1,1,13.75,166.00
260099,p260100,12,157.28,1,6,19.45,89.88
260100,p260101,8,405.84,1,2,11.86,178.72
260101,p260102,2,314.00,2,2,314.00,314.00
260102,p260103,1,339.00,1,1,339.00,339.00
260103,p260104,2,702.96,1,1,53.96,649.00
260104,p260105,22,294.06,1,8,11.99,115.84
260105,p260106,1,129.02,1,1,129.02,129.02
260106,p260107,12,497.58,1,1,17.73,64.31
260107,p260108,8,581.08,1,1,16.11,212.46
260108,p260109,2,317.98,2,2,317.98,317.98
260109,p260110,3,449.97,3,3,449.97,449.97
260110,p260111,27,176.08,1,1,2.78,11.86
260111,p260112,6,119.37,3,3,44.40,74.97
260112,p260113,3,811.49,1,1,31.51,599.99
260113,p260114,39,749.27,1,6,34.69,99.95
260114,p260115,2,318.97,1,1,139.99,178.98